{% extends 'base.html.twig' %}

{% block title %}Hello VisioController!{% endblock %}

{% block body %}

<div class="flex flex-col w-full justify-around mt-20">
    
    {% for daty in daties %}
        <a href="{{ url('visio_daty', {'id_daty': daty.id}) }}">
            {{ daty.startAt | date('H:i') }}
            {% set part = daty.part1.user.id != app.user.id ? daty.part1 : daty.part2 %}
            {{ part.user.username }}
        </a>
    {% endfor %}
    
</div>

{% endblock %}
